:root{

    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey:hsl(217, 12%, 63%);
    --medium-grey:hsl(216, 12%, 54%);
    --dark-blue:hsl(213, 19%, 18%);
    --very-dark-blue:hsl(216, 12%, 8%);
}
body{
    background-color:#000000;
    
}
article{
    background-color:var(--very-dark-blue);
    border-radius: 15px;
    inline-size: 95%;
    max-inline-size: 350px;
    margin-inline: auto;
    padding: 30px;
    box-sizing: border-box;
    margin-block-start: 15px;
}
.circle{
    background:var(--dark-blue);
    border-radius: 100%;
    inline-size: 40px;
    block-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-hover:hover{
    background:var(--orange);
}
.circle:hover p{
    color: var(--white);
}
.circle:focus{
    background-color: var(--light-grey);
}
.rating-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
}
h1{
    font-family: "overpass";
    color: var(--white);
}
p{
    color:var(--medium-grey);
    font-size: smaller;
    line-height: 1.5;   
    font-family:"overpass";
}

button{
    background-color: var(--orange);
    inline-size: 100%;
    color: var(--white);
    padding: 0.7rem;
    border-radius: 30px;
    border: 1px solid var(--orange);
    margin-top: 1em;
    letter-spacing: 2px;
}
button:hover{
    background-color:var(--white);
    color: var(--orange);
    border: 1px solid var(--white);

}


/* submit feedback */

img{
    display: block;
    margin-inline:auto;
    margin-block-end:1.7em;
}
.selected-div{
    background: var(--dark-blue);
    color:var(--orange);
    border-radius: 40px;
    padding: 4px;
    font-size: smaller;
    display: flex;
    justify-content: center;
    inline-size: 170px;
    margin-inline: auto;
    font-family: "overpass";
}
.thank-you{
    font-family: "overpass";
    font-size: 25px;
    color: var(--white);
    font-weight: bold;
    text-align: center;
    margin-block-end: 0px;
}
.thanks-content{
    text-align: center;
}




